<div id="map" style="height: 500px;"></div>

<input type="hidden" name="Latitude" id="Latitude" />
<input type="hidden" name="Longitude" id="Longitude"/>

<script src="~/Scripts/mapHandler.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRCuzGT_iK2wDPp7kPATXSLNnhpS6oPcQ&callback=initMap&libraries=places" async defer></script>